{% extends "base.html" %} 
{% block content %} {{ self.subtitle }} is the
subtitle 
<!-- TO DO ?? split screen?
<a href="/index2.php?option=com_jumi&amp;fileid=3&amp;Itemid=11"
   onclick="window.open(this.href,'targetWindow',
                                   `toolbar=no,
                                    location=no,
                                    status=no,
                                    menubar=no,
                                    scrollbars=yes,
                                    resizable=yes,
                                    width=SomeSize,
                                    height=SomeSize`);
 return false;">Popup link</a>
-->


<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="universal search medicine differential diagnosis signs Symptoms algorithms epidemiology genetics ontologies coding patients physicians" content="HTML, CSS, XML, JavaScript">
  <title>Universal Search Page for Medicine Symptoms Signs and Diseases</title>
  <meta name="author" content="Hans Hendrickx MD PhD">
  <meta name="author" content="Winston Haaswijk MPhil PhD">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="icon" href="favicon.ico" type="image/ico" sizes="32x32">
  <script src="jquery-3.4.1.min.js" type="text/javascript"></script>
  <script src="script.js" type="text/javascript"></script>
</head>

<body>
  <!-- Block 1 links boven text input-->
 <div style="position:absolute; top:12px; left:34px; width:300px; font-size:+2;">
    <form id="form" onsubmit="return false;">
      <input style="position:absolute; top:38px; left:1px; width:285px; font-size:24px" type="text" id="userInput" placeholder="I am a professional." font-size="22px" />
      <input style="position:absolute; top:90px; left:0px; width:290px; font-size:24px;color:white;background-color:green;align:left;" type="submit" value="I agree to the disclaimer." onclick="updateSearch();">    
    </form><div  style="position:absolute; top:130px; left:34px; width:400px; font-size:+1; align:centre;">V-0.5 Beta - Read the <a href="disclaimer.pdf">disclaimer </a>first.<br>Now with 250+ smart links!</div>
  </div>

    <!-- Block 1 right boven text input-->
 <div style="position:absolute; top:12px; left:350px; width:400px; ">
        <p style="font-size:24px;">Medicine is <br>a science of uncertainty<br>and an art of probability.<br>
            <a href="https://www.google.com/search?q=medicine uncertainty probability validation" target="_MP">
                <i><small>Dr. William Osler</small></i>
                </a>           
                </p> 
</div>

  <!-- Block 1 under instruction part-->
  <div style="position:absolute; top:350px; left:34px; width:600px; font-size:16px;">

    <p>Two ways to access: download <a href="https://github.com/hanshendrickx/UMS">Github</a> - online browser <a href="https://hanshendrickx/github.io/ums/index.html">Website</a></p>
      <p style="font-size:16px;"><strong>OR use these links on your own, and see what you like best: </strong><br>
        <br>
        <strong><font color="#755910">Golden Sites: </font></strong>
        <a href="https://www.gponline.com/education/medical-red-flags"><font color="#755910">GPOnline</font></a> |
        <a href="https://www.rch.org.au/rch/health-professionals/"><font color="#755910">RCH</font></a> |
        <a href="https://www.malacards.org/search/results?query=Fever"><font color="#755910">MalaCards</font></a> |
        <a href="https://www.nice.org.uk/search?om=[{%22drm%22:[%22Last%20year%22]},{%22gst%22:[%22Published%22]},{%22ndt%22:[%22NICE%20Pathways%22]},{%22ndt%22:[%22News%22]},{%22ndt%22:[%22Research%20recommendations%22]},{%22ndt%22:[%22Guidance%22]},{%22ngt%22:[%22NICE%20guidelines%22]}]&ps=50&q=fever&sp=on"><font color="#755910">NICE</font></a> |
        <a href="https://globalrph.com/medcalcs/advanced-cardiac-life-support-acls-adults/"><font color="#755910">GlobalRPH</font></a> |
        <a href="https://pch.health.wa.gov.au/For-health-professionals/Emergency-Department-Guidelines/Calculators"><font color="#755910">PCH</font></a> |
        <a href="https://www.google.com/search?q=~https://www.ncbi.nlm.nih.gov/pubmed Evidence Based Medical History Taking"><font color="#755910">PubMed</font></a>
        <br><br>
 
  <strong>Anatomy: </strong>
        <a href="https://www.kenhub.com/en/start/upper-arm-bones-and-ligaments">The human body</a> |
        <a href="https://www.innerbody.com/htm/body.html">InnerBody</a> | 
        <a href="http://clinicalanatomy.ca/videos.html">ClinicalAnatomy Video</a> |      
        <br>
        <strong>Coding PDF: </strong>
        <a href="http://docpatient.net/3CGP/QC/ICPC_desk.pdf">ICPC2-EN</a> |
        <a href="https://www.transhis.nl/wp-content/uploads/2014/12/icpc-2-2pager-nederlands.pdf">ICPC2-NL</a> |
        <a href="https://www.whofic.nl/media/901">ICPC2-ICD10</a> |
        <a href="https://icd.who.int/en">ICD-11</a>
        <br>
        <strong>Emergency Calculators: </strong><a href="https://pch.health.wa.gov.au/For-health-professionals/Emergency-Department-Guidelines/Calculators" target="_MP">PCH</a> | <a href="http://site.cats.nhs.uk/in-a-hurry/drug-calculator/" target="_MP">CATS</a> |
        <a href="https://pedisafe.org/pedcalc/peddrugcalc.php" target="_MP">PediSafe</a>
        <br>
        <strong>Epidemiology & public health: </strong>
        <a href="https://researchguides.uic.edu/publichealth" target="_MP">Databases</a> |
        <a href="https://www.ecdc.europa.eu/en/home " target="_MP">EU ECDS</a> |
        <a href="https://www.who.int/topics/epidemiology/en/ " target="_MP">WHO</a> |
        <a href="https://www.cdc.gov/csels/dsepd/ss1978/lesson1/index.html " target="_MP">CDC</a>
        <br>
        <strong>Eye Diseases Images: </strong>
        <a href="https://library.neco.edu/c.php?g=18273&p=102950" target="_MP">Databases</a> |
       
 
        <br>
        <strong>Libraries: </strong>
        <a href="https://www.refdesk.com/health.html " target="_MP">Refdesk</a> |
        <a href="https://www.ncbi.nlm.nih.gov/search/all/?term=fever " target="_MP">NCBI</a><span> | </span>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=fever " target="_MP">PubMed</a> |
        <a href="https://services.hon.ch/cgi-bin/HONselect?%20+fever " target="_MP">HONselect</a>
        <br>
        <strong>Lists A-Z: </strong>
        <a href="https://www.uwmedicine.org/education/Pages/specialties-subspecialties.aspx " target="_MP">Medical Specialties</a> |
        <a href="https://www.orpha.net/consor/cgi-bin/Disease_Search_List.php?lng=EN " target="_MP">Orphan Diseases</a> |
        <a href="https://en.wikipedia.org/wiki/Lists_of_diseases " target="_MP">Diseases</a> |
        <a href="https://en.wikipedia.org/wiki/Category:Syndromes " target="_MP">Syndromes</a> |
        <a href="https://search.cdc.gov/search/index.html?query=A-Z&sitelimit=&utf8=%E2%9C%93&affiliate=cdc-main " target="_MP">CDC</a> |
        <a href="https://www.ecdc.europa.eu/en/all-topics " target="_MP">EU ECDC</a> | <a href="https://www.rch.org.au/kidsinfo/#tab-F " target="_MP">RCH Children</a>
        <br>
        <strong>Medications: </strong>
        <a href="https://www.google.com/search?q=fever IN web:https://www.rxlist.com/ " target="_MP">RxList</a> | <a href="https://www.google.com/search?q=web:https://www.drugs.com/international/ " target="_MP">Drug</a> | <a href="https://www.google.com/search?q=recommended
        dose tylenol web:https://www.drugs.com/international/ " target="_MP">Dose</a> | <a href="https://globalrph.com/drugs/">GlobalRxPh</a> | <a href="https://www.google.com/search?q=side effects OR Overdose " target="_MP">Side effects</a> | <a href="https://www.drugs.com/imprints.php " target="_MP">Pil identifyer</a>
        | <a href="https://www.drugs.com/drug_interactions.html" target="_MP">Drug Interactions</a> 
        | <a href="http://online6.edqm.eu/ep908/" target="_MP">EU Pharmacopeia</a>      
        <br>
        <strong>Scores in Medicine: </strong><a href="https://www.mdapp.co/" target="_MP">MDApp</a> | <a href="https://www.mdcalc.com/" target="_MP">MDCalc</a>
        <br>
        <strong>Skin disease images: </strong>
        <a href="http://www.dermnet.com " target="_MP">Skin diseases</a> | <a href="https://www.google.com/search?q=skin+disease+iamges+online&oq=skin+disease+iamges+online" target="_MP">Skin atlas</a>
        <br>
        <strong>Symptom checkers: </strong><a href="https://www.google.com/search?q=symptom+checker " target="_MP">Symptom checkers</a>
        <br>
        <br>
 <!--
  <div style="style="position:absolute; top:34px; left:500px; font-size:22px;">
    <p><strong>Tip for smartest use:</strong><br>     
       Drag the second screen upfront. See our 
       <a href="video.gif" title="Split Tabs">instruction video</a>.</p>
     </div>
    -->
</div>


  <!-- Deel waar pagina niet mee opent. het is pas te zien als de input is gegeven en is gesubmitted. end met /myDiv-->
<div id="myDIV" style="display: none" z-index="2">
    <!-- Open page: Only input and submit button. On click: 1. show the matrix and 2. add the input to the urls, source:https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_toggle_hide_show -->

       <!-- BEGINNING Left column -->
       <div class="hexagongl " style="top:171px; left:38px; ">
          <table border="1 " cellpadding="5 " style="height: 100%; top:-48px; left:24px ">
            <tbody>
              <tr>
                <td colspan="2 " align="center ">
                  <a data-baseurl="https://www.google.com/search?q=mnemonics " target="_MP"><font color="#755910"><strong>Mnemonics</strong></font></a> |
                  <a data-baseurl="https://www.google.com/search?biw=2037&bih=992&tbm=isch&sxsrf=ACYBGNRNxH4vjkNBfuJPbUpqYnibPlxvIQ%3A1568360943257&source=hp&biw=&bih=&ei=70l7Xc-ODMvKwALTrr-IBA&q=cues Red Flags " target="_MP">Red Flags</a>
                  <br>
                  <a data-baseurl="https://www.google.com/search?q=pathognomics medical cues " target="_MP">Pathognomics</a> |
                  <a data-baseurl="https://www.google.com/search?biw=2037&bih=992&tbm=isch&sxsrf=ACYBGNRNxH4vjkNBfuJPbUpqYnibPlxvIQ%3A1568360943257&source=hp&biw=&bih=&ei=70l7Xc-ODMvKwALTrr-IBA&q=important visual cues medical diagnosis" target="_MP"><font color="#CC0000 "><strong>Visual cues</strong></font></a>
                  <br>
                  <a data-baseurl="https://www.google.com/search?q=major signs and symptoms " target="_MP">Major Signs</a> |
                  <a data-baseurl="https://www.malacards.org/search/results?query=" target="_MP"><font color="#755910"><strong>MalaCard</strong></font></a> |
                  <a data-baseurl="https://google.com/search?q=~ www.psycom.net/ " target="_MP">DSM-5</a>
                  <br>
                  <a data-baseurl="https://www.google.com/search?biw=2037&bih=992&tbm=isch&sxsrf=ACYBGNRNxH4vjkNBfuJPbUpqYnibPlxvIQ%3A1568360943257&source=hp&biw=&bih=&ei=70l7Xc-ODMvKwALTrr-IBA&q=decision trees " target="_MP">Decision Trees</a> -
                  <a data-baseurl="https://www.google.com/search?biw=2037&bih=992&tbm=isch&sxsrf=ACYBGNRNxH4vjkNBfuJPbUpqYnibPlxvIQ%3A1568360943257&source=hp&biw=&bih=&ei=70l7Xc-ODMvKwALTrr-IBA&q=Lab tests decision trees " target="_MP">Lab test Trees</a>
                  <br>
                  <a data-baseurl="https://tdlpathology.com/Search?q=" target="_MP">Doc-Lab</a> -
                  <a data-baseurl="https://labtestsonline.org/search?keywords=" target="_MP">AACC</a> -
                  <a data-baseurl="https://vsearch.nlm.nih.gov/vivisimo/cgi-bin/query-meta?v%3Aproject=medlineplus&v%3Asources=medlineplus-bundle&query=" target="_MP">MedLine</a> -
                  <a data-baseurl="https://search.cdc.gov/search/index.html?query=" target="_MP">CDC</a>
                </td>
              </tr>
              <tr>
                <td colspan="2 " align="center ">
                  <div class="c ">
                    <br>
                    <font size="+2 ">
                 <strong>
              <a data-baseurl="https://www.google.com/search?q=importance OR significance OR relevance of differential diagnosis " target="_MP">
                    Differential <br>Diagnosis DDx
                     </a>
              </strong>
             </font>
                    <br>
                    <br>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2 " align="center ">
                  <a data-baseurl="https://www.google.com/search?biw=2037&bih=992&tbm=isch&sxsrf=ACYBGNRNxH4vjkNBfuJPbUpqYnibPlxvIQ%3A1568360943257&source=hp&biw=&bih=&ei=70l7Xc-ODMvKwALTrr-IBA&q=differential diagnosis algorithms " target="_MP">Algorithms how to diagnose</a>
                  <br>
                  <a data-baseurl="https://www.google.com/search?q=differential diagnosis +laboratory tests " target="_MP">Lab tests</a> |
                  <a data-baseurl="https://www.google.com/search?biw=2037&bih=992&tbm=isch&sxsrf=ACYBGNRNxH4vjkNBfuJPbUpqYnibPlxvIQ%3A1568360943257&source=hp&biw=&bih=&ei=70l7Xc-ODMvKwALTrr-IBA&q=lab algorythms for " target="_MP">Lab algorithms</a>
                  <br> <a data-baseurl="https://www.google.com/search?q=differential diagnosis +physical signs " target="_MP">Physical signs</a> -
                  <a data-baseurl="https://www.google.com/search?biw=2037&bih=992&tbm=isch&sxsrf=ACYBGNRNxH4vjkNBfuJPbUpqYnibPlxvIQ%3A1568360943257&source=hp&biw=&bih=&ei=70l7Xc-ODMvKwALTrr-IBA&q=algorithms symptoms " target="_MP"><font color="#CC0000 "></font><strong>Algorithms</strong></font></a>
                  <br>
                  <a data-baseurl="https://www.google.com/search?q=Failed diagnosis " target="_MP">Failed - or</a>
                  <a data-baseurl="https://www.google.com/search?q=wrong diagnosis " target="_MP">Wrong diagnosis</a>
                  <br>
    
                  <a data-baseurl="https://www.google.com/search?q=Second opinion " target="_MP">2<sup>nd</sup> opinion</a> -
                  <a data-baseurl="https://www.doctorslounge.com/cgi-bin/search/search.pl?Match=0&Realm=All&Terms=" target="_MP">Dr Lounge</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="hexagonbl " style="top:473px; left:38px; ">
          <table border="1 " cellpadding="5 " style="height: 100%; top:-55px; left:15px ">
            <tr>
              <td colspan="2 " align="center ">
                <br/>
                <a data-baseurl="https://www.google.com/search?q=prevalence " target="_MP">Prevalence</a> |
                <a data-baseurl="https://www.google.com/search?q=incidence OR new diagnosis per year " target="_MP">Incidence</a>
                <br>
                <a data-baseurl="https://www.google.com/search?q=epidemiology Morbidity " target="_MP">Morbidity</a> |
                <a data-baseurl="https://www.google.com/search?q=epidemiology Mortality " target="_MP">Mortality</a>
                <br>
                <a data-baseurl="https://www.google.com/search?q=Clinical epidemiology " target="_MP"><font color="#755910"><strong>Clinical epidemiology</strong></font></a> |
                <a href="https://www.medcalc.org/calc/diagnostic_test.php " target="_MP">Calculator</a>
                <br>
                <a data-baseurl="https://www.google.com/search?q=Number needed to treat NNT online " target="_MP">NNT</a> -
                <a data-baseurl="https://www.google.com/search?q=Number needed to harm NNH online " target="_MP">NNH</a> -
                <a href="https://globalrph.com/medcalcs/number-needed-to-treat-nnt-calculator/ " target="_MP">Calculations</a>
                <br>
                <a href="https://www.google.com/search?q=probabilistic reasing in medicine 2019 " target="_MP">Probabilistic reasoning in Medicine</a>
                <br>
              </td>
            </tr>
            <tr>
              <td colspan="2 " align="center ">
                <div class="c ">
                  <br>
                  <font size="+2 ">
                 <strong>
                 <a data-baseurl="https://google.com/search?q=epidemiology OR genetics " target="_MP">
                     Epidemiology & Genetics</a>
                </strong>
                </font>
                  <br>
                  <br>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2 " align="center ">
                <a data-baseurl="https://www.google.com/search?q=genetics of " target="_MP">Genetics</a> |
                <a data-baseurl="https://www.google.com/search?q=phenotypes of " target="_MP">Phenotypes</a> | <a data-baseurl="https://www.google.com/search?q=sex or gender related " target="_MP">Sex related</a>
                <br>
                <a data-baseurl="https://www.google.com/search?q=family related of " target="_MP">Family related</a> |
                <a data-baseurl="https://www.google.com/search?q=orphan disease and " target="_MP">Orphan diseases</a>
                <br>
                <a data-baseurl="https://www.google.com/search?q=genetics " target="_MP">Review genetics</a> |
                <a data-baseurl="https://ncbi.nlm.nih.gov/nuccore/?term=" target="_MP">Search Nucleotide</a>
                <br>
                <a data-baseurl="https://www.google.com/search?q=~closler.org/clinical-reasoning or error " target="_MP">Clinical Reasoning & Error</a>
                <br>
                <a data-baseurl="https://www.google.com/search?q=~search.cdc.gov statistics " target="_MP"><font color="#755910"><strong>CDC</strong></font></a> |
                <a href="https://www.google.com/search?q=~www.ecdc.europa.eu/ statistics " target="_MP"><font color="#755910"><strong>EU ECDC</strong></font></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- END Left column -->





    <!-- BEGINNING Middle column -->
    <div class="hexagongr " style="top:20px; left:300px; ">
        <table border="1 " cellpadding="5 " style="height: 100%; top:-48px; left:25px ">
          <tbody>
            <tr>
              <td colspan="2 " align="center ">
                <a data-baseurl="https://www.google.com/search?q=~webmd.com OR ~thuisarts.nl OR Do I need a doctor? " target="_MP"><font color="#CC0000 "><strong>Do I need a Doctor?</strong></font></a> |
                <a data-baseurl="https://www.google.com/search?q=gponline.com/ " target="_MP"><font color="#CC0000 "><strong>Red Flags</strong></font></a>
                <br>
                <a data-baseurl="https://www.google.com/search?q=triage baby infant " target="_MP">Baby</a> |
                <a data-baseurl="https://www.google.com/search?q=triage child AND " target="_MP">Child</a> |
                <a data-baseurl="https://www.google.com/search?q=triage +adolescent AND " target="_MP">Adolescent</a>
                <br>
                <a data-baseurl="https://www.google.com/search?q=triage pregnancy " target="_MP">Pregnant</a> -
                <a data-baseurl="https://www.google.com/search?q=women AND " target="_MP">Women</a> |
                <a data-baseurl="https://www.google.com/search?q=adult AND " target="_MP">Adults</a> |
                <a data-baseurl="https://www.google.com/search?q=triage AND elderly AND " target="_MP">Elderly</a>
                <br>
                <a data-baseurl="https://www.google.com/search?q=CDC " target="_MP">CDC</a> |
                <a data-baseurl="https://www.google.com/search?q=thuisarts.nl " target="_MP">Thuisarts</a> |
                <a data-baseurl="https://www.mayoclinic.org/search/search-results?q=" target="_MP">Mayo</a>
                <br>
                <a data-baseurl="https://familydoctor.org/diseases-and-conditions/?keyword=" target="_MP">FamilyDoctor</a> |
                <a data-baseurl="https://www.nhsinform.scot/search?q=fever " target="_MP">NHS</a>
              </td>
            </tr>
            <tr>
              <td colspan="2 " align="center ">
                <div class="c ">
                  <br/>
                  <a data-baseurl="https://www.google.com/search?q=signs and symptoms of" target="_MP">
                    <font size="+2 "><strong>Signs &<br> Symptoms</strong>
              </font></a>
                </div>
                <br/>
              </td>
            </tr>
            <tr>
              <td colspan="2 " align="center ">
                <a data-baseurl="https://www.google.com/search?q=evidence based clinical presentation Medical History " target="_MP">Clinical Presentation
              </a>
                <br>
                <a data-baseurl="https://www.google.com/search?q=symptoms accompanying " target="_MP"><font color="#755910"><strong>Combos: +Symptoms </strong></font></a> |
                <a data-baseurl="https://www.google.com/search?q=commonly related diseases with " target="_MP">+Diseases</a>
                <a data-baseurl="https://www.google.com/search?q=Important medical History and Context -novel " target="_MP">Current Medical History & Context</a>
                <br>
                <a data-baseurl="https://www.google.com/search?q=best symptom checkers " target="_MP">Best SymptomCheckers</a>
                <br> <a data-baseurl="https://www.google.com/search?q=phases of disease " target="_MP"><font color="#755910"><strong>Phases of disease</strong></font></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="hexagonwt " style="top:322px; left:300px; ">
        <table border="1 " cellpadding="5 " style="height: 100%; top:-55px; left: 25px ">
          <!-- top is right because of the transition of the hexagon and left is top -->
          <tbody>
            <tr>
              <td colspan="2 " align="center ">
                <a data-baseurl="https://www.google.com/search?q=Synonyms OR Homonyms " target="_MP">Synonyms</a> |
                <a data-baseurl="https://www.google.com/search?q=Wikipedia " target="_MP"><font color="#755910"><strong>Wikipedia</strong></font></a>
                <br>
                <a data-baseurl="https://www.google.com/search?q=classes OR types OR groups OR subdivisions OR classifications OR patterns " target="_MP">Classes & Types</a> |
                <a data-baseurl="https://www.google.com/search?q=prevention of " target="_MP">Prevention</a>
                <br>
                <a data-baseurl="https://www.google.com/search?q=Guidelines OR GP policies OR best expert guideline OR NICE " target="_MP"><font color="#755910"><strong>Guidelines</strong></font></a> |
                <a data-baseurl="https://www.google.com/search?q=Guidelines OR GP policies OR best expert guideline OR NICE +Child " target="_MP">Child</a> |
                <a data-baseurl="https://www.google.com/search?q=Guidelines OR GP policies OR best expert guideline OR NICE +Adult " target="_MP">Adult</a> |
                <a data-baseurl="https://www.google.com/search?q=Guidelines OR GP policies OR best expert guideline OR NICE +Female ~pregnancy " target="_MP">Female</a>
                <br>
                <a data-baseurl="https://www.google.com/search?q=pathophysiology OR pathogenesis " target="_MP">Pathophysiology</a> |
                <a data-baseurl="https://www.google.com/search?q=natural history OR life expectancy OR prognosis " target="_MP">Natural History</a>
                <br>
  
                <a data-baseurl="https://www.google.com/search?q=Medical Policies " target="_MP">Policy</a> |
                <a data-baseurl="https://www.google.com/search?q=Medical Procedures " target="_MP">Procedure</a> |
                <a data-baseurl="https://www.google.com/search?q=Medical Standards " target="_MP">Standard</a> |
                <a data-baseurl="https://www.google.com/search?q=Merck " target="_MP"><font color="#755910"><strong>Merck</strong></font></a>
                <br>
                <a data-baseurl="https://www.google.com/search?q=Medical Statements " target="_MP">Statements</a> |
                <a data-baseurl="https://www.google.com/search?q=Medical Research " target="_MP">Research</a> |
                <a data-baseurl="https://www.google.com/search?q=patient groups OR professional groups OR registries OR advocacy groups OR foundations " target="_MP">Organizations</a>
                <br>
              </td>
            </tr>
            <tr>
              <td colspan="2 " align="center ">
                <a data-baseurl="https://google.com/search?q=~definition short description " target="_MP">
                  <div class="c ">
                    <br>
                    <font size="+2 "><strong>Syndrome<br/>Condition & Disease</strong></font>
                  </div>
                </a>
                <br/>
              </td>
            </tr>
            <tr>
              <td colspan="2 " align="center ">
  
                <a data-baseurl="https://www.google.com/search?q=Medical+Books " target="_MP">Books</a> |
                <a data-baseurl="https://www.google.com/search?q=Medical+Review " target="_MP">Reviews</a> |
                <a data-baseurl="https://www.google.com/search?biw=2048&bih=1038&tbm=isch&sxsrf=ACYBGNR5uAghLf1jyKSKcwhNMPPe1DEeRg%3A1568279118240&sa=1&ei=Tgp6XcCXDuvmrgSkh5bwAQ&q=medical+information+about " target="_MP">
                  <font color="#CC0000 "><strong>Images</strong></font></a> |
                <a data-baseurl="https://www.google.com/search?q=best medical information video about " target="_MP">Videos</a> |
                <a data-baseurl="https://www.google.com/search?q=Medical+Publications+PubMed " target="_MP">Medical Literature</a> |
                <a data-baseurl="https://www.google.com/search?q=~http://www.virtualmedstudent.com/ " target="_MP">MedStudent</a>
                <br>
                <a data-baseurl="https://www.google.com/search?q=Best+Medical+Information+for+Patients+about " target="_MP">Information for Patients</a> |
                <a data-baseurl="https://www.google.com/search?q=Press release OR News " target="_MP">News</a>
                <br>
                <a data-baseurl="https://www.google.com/search?q=NHS " target="_MP">NHS</a> -
                <a data-baseurl="https://www.google.com/search?q=RCH.org " target="_MP"><font color="#CC0000 "><strong>RCH</strong></font></a> -
                <a data-baseurl="https://www.google.com/search?q=CDC " target="_MP">CDC</a> -
                <a data-baseurl=" https://www.google.com/search?q=FDA AND " target="_MP">FDA</a>
                <br>
                <a data-baseurl="https://www.malacards.org/search/results?query=" target="_MP"><font color="#755910">MalaCards</font></a> -
                <a data-baseurl="https://www.google.com/search?q=MayoClinic.org " target="_MP">Mayo</a> -
                <a data-baseurl="https://www.google.com/search?q=European Union AND " target="_MP">EU</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="hexagonbj " style="top:624px; left:300px; ">
        <table border="1 " cellpadding="5 " style="height: 100%; top:-50px; left: 15px ">
          <tbody>
            <tr>
              <td colspan="2 " align="center ">
                <a data-baseurl="https://bioportal.bioontology.org/search?q=" target="_MP"><font color="#755910"><strong>BioPortal</strong></font></a> |
                <a data-baseurl="https://www.findacode.com/search/search.php?str=" target="_MP">FindACode</a>
                <br>
                <a data-baseurl="https://google.com/search?q=~icd.who.int/ct11/icd11_mms/en/release" target="_MP">ICD-11</a> |
                <a data-baseurl="https://www.malacards.org/search/results?query=" target="_MP">Classifications</a> |
                <a data-baseurl="https://google.com/search?q=~ www.psycom.net/" target="_MP">DSM-5</a>
                <br>
                <a data-baseurl="https://loinc.org/?s=" target="_MP">LOINC</a> |
                <a data-baseurl="https://www.labcorp.com/search/site/ " target="_MP">LabCorp</a> |
                <a data-baseurl="https://correctcodechek.decisionhealth.com/Cpt/Search.aspx?st=0&ss=Tabular&sk=" target="_MP">CPT</a> |
                <a data-baseurl="https://correctcodechek.decisionhealth.com/Hcpcs/Search.aspx?st=1&ss=Tabular&sk=" target="_MP">HCPCS</a> <br>
                <a href="https://www.nhg.org/themas/publicaties/icpc-online " target="_MP">ICPC2</a> | 
                <a href="https://browser.ihtsdotools.org/?perspective=full&conceptId1=404684003&edition=MAIN&release=&languages=en" target="_MP">Snomed</a> |
                <a href="https://www.google.com/search?q=HL7 online" target="_MP">HL7</a> |
                <a href="https://www.google.com/search?q=HFIR online" target="_MP">HFIR</a><br>
                <a href="https://www.ncbi.nlm.nih.gov/pmc/?term=medical+coding+paradox&cmd=DetailsSearch" target="_MP">The Coding Paradox</a> - 
                <a href="https://www.aafp.org/fpm/2005/1000/p82.html" target="_MP">& Nonsence</a>    </td>
            </tr>
            <tr>
              <td colspan="2 " align="center "><br>
                <div class="c "><font size="+2 "><strong> <a data-baseurl="https://www.google.com/search?q=ontologies codes " target="_MP">Coding &<br> Ontologies</a></strong></font></div><br>
              </td>
            </tr>
            <tr>
              <td colspan="2 " align="center ">
                <a href="https://i.pinimg.com/736x/9c/43/9a/9c439a5f40eb980ed6da7dcdace53500.jpg " target="_MP">About Coding I</a> |
                <a href="https://www.sciencedirect.com/science/article/pii/S1319157815000919 " target="_MP">About Coding II</a>
<br>
                <a data-baseurl="https://www.ebi.ac.uk/ols/search?q=" target="_MP">Ontology of -Symptoms</a> | <a href="http://www.disease-ontology.org/ " target="_MP">-Diseases </a>
                <br>
                <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6371260/ " target="_MP">NLP versus Codes in Medicine</a>
<br>
                <a href="https://blog.capterra.com/medical-billing-and-coding-trends-for-2018/ " target="_MP">Costs of Coding</a> |
                <a href="https://www.academia.edu/6814221/A_Diabetes_Diagnostic_Domain_Ontology_for_CBR_System_from_the_Conceptual_Model_of_SNOMED_CT?email_work_card=view-paper" target="_MP">Sample</a>
          <br>
                <a data-baseurl="https://google.com/search?q=Ontologies and questionnaire design" target="_MP">Ontologies and questionnaires</a>
                
              
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- END Middle column -->


    <!-- BEGINNING right column -->
    <div class="hexagonrd " style="top:171px; left:562px; ">
        <table border="1 " cellpadding="5 " style="height: 100%; top:-51px; left:25px ">
          <tbody>
            <tr>
              <td colspan="2 " align="center ">
                <a data-baseurl="https://google.com/search?q=List all etiologies of" target="_MP">List of causes</a> | 
                <a data-baseurl="https://google.com/search?q=Extensive medical history taking in case of" target="_MP"><font color="#CC0000 "><strong>Medical History</strong></font></a> 
                <br>
                <a data-baseurl="https://google.com/search?q=environmental cause of " target="_MP">Environment</a> |
                <a data-baseurl="https://google.com/search?q=work related cause of " target="_MP">Work</a> | 
                <a data-baseurl="https://google.com/search?q=profession related cause of " target="_MP">Profession</a>
                <br>
                <a data-baseurl="https://google.com/search?q=Cancer cause of " target="_MP">Cancer</a> |
                <a data-baseurl="https://google.com/search?q=allergy cause of " target="_MP">Allergy</a> |
                <a data-baseurl="https://google.com/search?q=side effect of medications or overdose " target="_MP">Side effects</a>
                <br/>
                <a data-baseurl="https://google.com/search?q=infection cause of " target="_MP">Infection</a> |
                <a data-baseurl="https://google.com/search?q=prion cause of " target="_MP">Prion</a> |
                <a data-baseurl="https://google.com/search?q=parasites cause of " target="_MP">Parasites</a>
                <a data-baseurl="https://google.com/search?q=zoonosis cause of " target="_MP">Zoonosis</a> |
                <a data-baseurl="https://google.com/search?q=autoimmune cause of " target="_MP">Auto-immuun</a> |
                <a data-baseurl="https://google.com/search?q=intoxication cause of " target="_MP">Toxins</a> |
                <a data-baseurl="https://google.com/search?q=iatrogenic cause of" target="_MP"><font color="#755910"><strong>Iatrogenic</strong></font></a>
            <br>
                <a data-baseurl="https://google.com/search?q=~globalrph.com causes of" target="_MP">Medications causing </a> <i>versus  </i>
                <a data-baseurl="https://google.com/search?q=~globalrph.com treating -inducing" target="_MP">Treating</a>
 
                <br>
              </td>
            </tr>
            <tr>
              <td colspan="2 " align="center ">
                <div class="c "><font size="+2 "><strong><a data-baseurl="https://google.com/search?q=how to diagnose or explain cause? " target="_MP">Cause & <br>Diagnosis</a></strong>
                </font></div>
                <br/>
              </td>
            </tr>
            <tr>
              <td colspan="2 " align="center ">
                  <a data-baseurl="https://www.google.com/search?biw=2048&bih=1038&tbm=isch&sxsrf=ACYBGNR5uAghLf1jyKSKcwhNMPPe1DEeRg%3A1568279118240&sa=1&ei=Tgp6XcCXDuvmrgSkh5bwAQ&q=all causes of" target="_MP">
                    <font color="#CC0000 "><strong>Images</strong></font></a> |

                <a data-baseurl="https://google.com/search?q=preventive measures " target="_MP">Prevention</a> |
                <a data-baseurl="https://google.com/search?q=screening tests " target="_MP">Screening</a> |
                <a data-baseurl="https://labtestsonline.org/search?keywords=" target=" _MP">Lab</a>
                <br>
                <a data-baseurl="https://google.com/search?q=procedures to diagnose " target="_MP">Procedures</a> |
                <a data-baseurl="https://google.com/search?q=algorithms clusters " target="_MP">Clusters</a> |
                <a data-baseurl="https://google.com/search?q=problematic diagnosis of " target="_MP">Problematics</a>
                <br>
                <a data-baseurl="https://www.google.com/search?biw=2037&bih=992&tbm=isch&sxsrf=ACYBGNRNxH4vjkNBfuJPbUpqYnibPlxvIQ%3A1568360943257&source=hp&biw=&bih=&ei=70l7Xc-ODMvKwALTrr-IBA&q=matrix for diagnosis of " target="_MP">Matrix for diagnosis</a>
<br>
                <a data-baseurl="https://google.com/search?q=tests and procedures to diagnose or explain " target="_MP">Tests and procedures</a>
              <br>
              <a data-baseurl="https://google.com/search?q=how to best AND fastest diagnose" target="_MP">How to diagnose...</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="hexagongrn " style="top:473px; left:562px; ">
        <table border="1 " cellpadding="5 " style="height: 100%; top:-70px; left:20px ">
          <tbody>
            <tr>
              <td colspan="2 " align="center ">
                <a data-baseurl="https://google.com/search?q=what is the best therapy? " target="_MP">Best therapy</a>
                <br> <a data-baseurl="https://google.com/search?q=hospital admission " target="_MP">Admission</a> |
                <a data-baseurl="https://google.com/search?q=surgery " target="_MP">Surgery</a>
                <br/>
                <a data-baseurl="https://google.com/search?q=Emergency Room " target="_MP">ER</a> |
                <a data-baseurl="https://google.com/search?q=therapy Wait and See? " target="_MP">Wait & See</a> |
  
                <a data-baseurl="https://google.com/search?q=medication therapy " target="_MP">Medication</a>
                <br>
  
                <a data-baseurl="https://google.com/search?q=more investigation " target="_MP">More investigation</a> |
                <a data-baseurl="https://google.com/search?q=chemotherapy " target="_MP">Chemo therapy</a>
                <a data-baseurl="https://google.com/search?q=procedure therapy " target="_MP">Procedure</a> |
                <a data-baseurl="https://google.com/search?q=rehabilitation " target="_MP">Rehabilitation</a> |
                <a data-baseurl="https://www.google.com/search?biw=2037&bih=992&tbm=isch&sxsrf=ACYBGNRNxH4vjkNBfuJPbUpqYnibPlxvIQ%3A1568360943257&source=hp&biw=&bih=&ei=70l7Xc-ODMvKwALTrr-IBA&q=therapy of " target="_MP">Images</a>
              </td>
            </tr>
            <tr>
              <td colspan="2 " align="center "><br>
                <div class="c "> <font size="+2 "><strong><a href="https://google.com/search?q=best therapy and procedures for" target="_MP">Procedures & Therapy</a></strong></font></div>
             <br> </td>
            </tr>
            <br>
            <tr>
              <td colspan="2 " align="center ">
                  <a data-baseurl="https://google.com/search?q=~globalrph.com treating -inducing" target="_MP">Medication Therapy</a> | 
                <a data-baseurl="https://google.com/search?q=risks and outcomes if not treated Wait and See " target="_MP">Do not treat?</a>
                <br>
                <a data-baseurl="https://google.com/search?q=reviews therapy PubMed of " target="_MP">Rx Reviews</a> |
                <a data-baseurl="https://google.com/search?q=recent publications Medline Pubmed " target="_MP">Literature</a> | 
                <a data-baseurl="https://google.com/search?q=Cochrane Studies " target="_MP">Cochrane</a>
                <br>
                <a data-baseurl="https://google.com/search?q=experimental therapy of " target="_MP">Experimental Therapy</a> | 
                <a data-baseurl="https://google.com/search?q=vaccinations for " target="_MP">Vaccinations</a> 
                <br>
                <a data-baseurl="https://google.com/search?q=best therapy baby" target="_MP">Therapy baby</a> - 
                <a data-baseurl="https://google.com/search?q=best therapy children " target="_MP">Child</a> - 
                <a data-baseurl="https://google.com/search?q=best therapy during pregnancy" target="_MP">Pregnancy</a> - 
                <a data-baseurl="https://google.com/search?q=best therapy adolescent " target="_MP">Adolescent</a> - 
                <a data-baseurl="https://google.com/search?q=best therapy adult " target="_MP">Adult</a> - 
                <a data-baseurl="https://google.com/search?q=best therapy elderly " target="_MP">Elderly</a><br>
                <a data-baseurl="https://google.com/search?q=best therapy hospice " target="_MP">Hospice</a> 
              </td>
            </tr>
          </tbody>
        </table>
      </div>              
    </div>
    <!-- END Right column -->




  <!-- zwarte navbar -->
  <div class="navbar">
    <a href="mailto:hhlhendrickx@ampgmail.com?subject=The%20Universal%20Search%20Page%20for%20Medicine">Drop a note! © Hans Hendrickx MD PhD 2019 Creator of MediPrepare & Universal Search Page for Medicine<br> with technical assistance by Winston Haaswijk MPhil PhD</a>
  </div>

  <!-- END zwarte navbar -->

  <!-- Instructie -->
  <div>
    <div style="position:absolute; top:175px; left:35px; width:600px; font-size: 20px" z-index="-1">
<p><strong>Instruction for use:</strong> 
  (
   Read <a href="https://github.com/hanshendrickx/UMS/blob/master/SmartUseUMS.pdf">PDF</a>  
    or view 
    <a href="https://github.com/hanshendrickx/UMS/blob/master/UMS05_2.mp4">VIDEO</a>
    )
  </p>
    </div>
    <div style="position:absolute; top:200px; left:35px; width:600px; font-size: 20px" z-index="-1">
    <p>Input the symptom and context or disease, and submit. You will discover that the input will be used in 250+ smart search strings. 
      By only typing once, for example 'fever and diarrhea' or 'hereditary mediterranean fever' you can quickly scan the medical field for detailed information about the symptom or the disease. Preferrably, use the matrix on big screen for an effective searching experience.</p>
    <!--  
          <div class="parent">
            <img src="https://hanshendrickx.github.io/UMS/splitscreen.png">
         </div>       -->
  </div>
  <!-- END instructie -->

</body>

</html>
{% endblock content %}